.product_item
{
    display: flex;
    align-items: center;
    justify-content: space-between;
width:30vw;
}
img{
    max-width: 100%;
    width:20vw;
    height:30vh;
}
span{
    font-size: large;
    font-weight: 200;
}